@import 'src/styles/_vars';

#competences {
  max-width: 55em;
  margin: 0 auto;
  background-color: white;
  padding: 1em 0;
  border-left: 1px solid red;
  border-right: 1px solid red;
  padding-left: 5em;
  padding-right: 5em;
}

#competences-align-center{
  text-align: center;
}

.competences-icons {
  font-size: 10em;
}

.html-icon {
  color: #e44d26;
}

.css-icon {
  color: #28AADF;
}

.js-icon {
  color: #e9d44c;
}

.php-icon {
  color: #777bb3;
}

.competence-resume {
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: .05em;
}

#competence {
  margin: 2em 0;
}

.competence-level_div {
  display: flex;
  justify-content: center;
}

.competence-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 1em;
}

.html_css-div {
  margin-top: 15px;
}

.division {
  display: block;
  background: linear-gradient(to left, rgb(255, 255, 255), rgb(199, 200, 211), rgb(255, 255, 255));
  width: 100%;
  height: 5px;
}

.competence-level {
  padding: .7em .8em;
  margin-right: .3em;
  background-color: #dee4ff;
  color: white;
  font-weight: 700;
  border-radius: 50%;

  &-1:nth-child(-n+2) {
    background-color: lighten($level-bg-color, $level-porcent-color);
  }
  &-2:nth-child(-n+3) {
    background-color: lighten($level-bg-color, $level-porcent-color);
  }
  &-3:nth-child(-n+4) {
    background-color: lighten($level-bg-color, $level-porcent-color);
  }
  &-4:nth-child(-n+5) {
    background-color: lighten($level-bg-color, $level-porcent-color);
  }
  &-5:nth-child(-n+6) {
    background-color: lighten($level-bg-color, $level-porcent-color);
  }
  &-6:nth-child(-n+7) {
    background-color: lighten($level-bg-color, $level-porcent-color);
  }
  &-7:nth-child(-n+8) {
    background-color: lighten($level-bg-color, $level-porcent-color);
  }
  &-8:nth-child(-n+9) {
    background-color: lighten($level-bg-color, $level-porcent-color);
  }
  &-9:nth-child(-n+10) {
    background-color: lighten($level-bg-color, $level-porcent-color);
  }
  &-10:nth-child(-n+11) {
    background-color: lighten($level-bg-color, $level-porcent-color);
  }
}

@media (max-width: 1000px) {
  #competences {
    border: none;
  }
}
