@import 'src/styles/_vars';

#notfound {
  max-width: 55em;
  margin: 0 auto;
  background-color: white;
  padding: 1em 0;
  border-left: 1px solid red;
  border-right: 1px solid red;
  padding-left: 5em;
  padding-right: 5em;
}

.flex-div {
  text-align: center;
}

.error-text {
  font-size: 5em;
}
